<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>blueshft.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84FFC4FD1BB77169008F2745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84FFC5161BB77169008F2745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84FFC5211BB77169008F2745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
